body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    background: linear-gradient(to left, rgb(234, 167, 255), rgb(142, 204, 255));
}

.sidebar {
    width: 15%;
    background-color: #ffffff;
    height: 100vh;
    padding-top: 20px;
}

/* For profile */
.sidebar .profile {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
    }
    
.sidebar .profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    color: #000000;
}
/* ----------------- */

.sidebar h2 {
    text-align: center;
}

/* List under profile */
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgb(142, 204, 255);
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: rgb(170, 217, 255);
}

.sidebar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
}
